@page "/passwordlist/edit"
@using PasswordManager.Blazor.Shared.ViewModels.Password;
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<h3>Password Edit</h3>

<EditForm Model="@password" OnValidSubmit="@OnSave">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Site</label>
            <InputText class="form-control" id="site" @bind-Value="password.Site" />
        </div>
        <div class="col-md-6">
            <label class="form-label">UserName</label>
            <InputText class="form-control" id="username" @bind-Value="password.UserName" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Password</label>
            <InputText class="form-control" id="password" @bind-Value="password.Password" />
        </div>
        <div class="row mt-4">
            <div class="col">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
              
                
                
            </div>
        </div>
    </div>
</EditForm>


@code {

    private bool isLoading = false;

    private PasswordViewModel password=new();

    protected override async Task OnInitializedAsync()
    {
        await LoadItemsFromServer();
        isLoading = false;
    }
    private async Task LoadItemsFromServer()
    {

    }

    public async Task OnSave()
    {
        HttpResponseMessage response;
        response = await httpClient.PostAsJsonAsync("password", password);
        if (response.IsSuccessStatusCode)
        {
            await jsRuntime.InvokeVoidAsync("alert", "Success"); 
            navigationManager.NavigateTo("passwordlist");
        
        }

    } 
    public async Task OnCancel()
    {
        navigationManager.NavigateTo("/passwordlist");
        
    }
}
