@page "/passwordlist"
@using PasswordManager.Blazor.Shared.ViewModels.Password;
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
<h3>List of Passwords</h3>

@if (isLoading) {
    <div class="lds-roller"></div>
}else {
    <button class="btn btn-primary"@onclick="AddNewPassword">New Password</button>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
            <th>Site</th>
            <th>Date Modified</th>
            <th>Account Status</th>
            <th>Actions</th>
                </tr>
        </thead>
        <tbody>
            @foreach(var password in passwordlist) {
                <tr>
                    <td>@password.Site</td>
                    <td>@password.DateModified</td>
                    <td>@password.Active</td>
                    
                    <td>                            
                        <button class="btn btn-primary" @onclick="() => EditPassword(password)">Edit</button>
                        <button class="btn btn-secondary" @onclick="() => PasswordDetails(password)">Details</button>
                        <button class="btn btn-warning" @onclick="() => Deactivate(password)">Deactivate</button>
                        <button class="btn btn-danger" @onclick="() => DeletePassword(password)">Delete</button>

                        </td>
                </tr>

                
            }


        </tbody>

    </table>
}


@code {
    //TODO:ADD LOGIC TO DISPLAY ONLY USER'S PASSWORDS
    private bool isLoading = true;
    public List<PasswordViewModel> passwordlist = new();

    private async Task AddNewPassword() {
        navigationManager.NavigateTo("/passwordlist/edit");
    }
    
    private async Task Deactivate(PasswordViewModel password) { }
    private async Task EditPassword(PasswordViewModel password) { }
    private async Task DeletePassword(PasswordViewModel password){ }
    private async Task PasswordDetails(PasswordViewModel password) { }

    private async Task LoadItemsFromServer()
    {
        passwordlist = await httpClient.GetFromJsonAsync<List<PasswordViewModel>>("password");

    }

    protected override async Task OnInitializedAsync()
    {
        await LoadItemsFromServer();
        isLoading = false;
    }

}
