@page "/passwordlist/edit/{id:guid?}"
@using PasswordManager.Blazor.Shared.ViewModels.Password;
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime


@if (isLoading)
{
    <div class="lds-roller"></div>
}
else
{
    @if (id.HasValue)
    {
        <h3>Password Edit</h3>
    }
    else
    {
        <h3>Create new Password</h3>
    }
    

<EditForm Model="@password" OnValidSubmit="@OnSave">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Site</label>
            <InputText class="form-control" id="site" @bind-Value="password.Site" />
        </div>
        <div class="col-md-6">
            <label class="form-label">UserName</label>
            <InputText class="form-control" id="username" @bind-Value="password.UserName" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Password</label>
            <InputText class="form-control" id="password" @bind-Value="password.Password" />
        </div>
        <div class="row mt-4">
            <div class="col">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
              
                
                
            </div>
        </div>
    </div>
</EditForm>
}


@code {
    [Parameter] public Guid? id { get; set; }
    private bool isLoading = true;
    private PasswordViewModel? password = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadItemsFromServer();
        isLoading = false;
    }
    private async Task LoadItemsFromServer()
    {
        if (id.HasValue)
        {
            password = await httpClient.GetFromJsonAsync<PasswordViewModel>($"password/{id}");
        }
    }

    public async Task OnSave()
    {
        HttpResponseMessage response;
        if (id == Guid.Empty || id == null)
        {
            response = await httpClient.PostAsJsonAsync("password", password);
            if (response.IsSuccessStatusCode)
            {
                await jsRuntime.InvokeVoidAsync("alert", "Created new Password Entry");
                navigationManager.NavigateTo("passwordlist");
            }
            else
            {
                await jsRuntime.InvokeVoidAsync("alert", "Error at creating");
            }
        }
        else
        {
            response = await httpClient.PutAsJsonAsync("password", password);
            if (response.IsSuccessStatusCode)
            {
                await jsRuntime.InvokeVoidAsync("alert", "Update Success");
                navigationManager.NavigateTo("passwordlist");
            }
            else
            {
                await jsRuntime.InvokeVoidAsync("alert", "Error at updating");
            }
        }
    } 
    public async Task OnCancel()
    {
        navigationManager.NavigateTo("/passwordlist");
        
    }
}
